@model IPagedList<WebAppIMaster.Models.NewManagerModels.HowDidYouAboutUsSelect>
@using WebAppIMaster.Resources;
@using PagedList;

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    #example_wrapper {
        padding: 5px;
    }
</style>

<div class="card strpied-tabled-with-hover p-1">
    <div class="card-header ">
        <h4>Cтатистика источников пользователей</h4>
    </div>
    <div class="card-body table-full-width table-responsive">
        <div class="row">
            <div class="col-12">
                <a href="/HowDidYouAboutUs/IndexMain" class="btn btn-info btn-fill pull-left">@Resource.BacktoList</a>
            </div>
            <div class="col-12">
                <form action="/HowDidYouAboutUs/Index" method="post">
                    <input class="form-control text-box single-line d-inline" type="text" name="sourceName" value="" />
                    <input class="btn btn-info btn-fill pull-left d-inline" type="submit" name="name" value="Найти" />
                    <input class="btn btn-info btn-fill pull-left d-inline" type="submit" name="name" value="Очистить" />
                </form>
            </div>
        </div>

        <table class="display table-bordered dataTable">
            <tr>
                <th>
                    Значение источника
                </th>
                <th>
                    Дата и время добавление
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                </tr>
            }
            @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))

        </table>



        <h2>Популярные</h2>
        @*@using (Ajax.BeginForm("Population", new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            LoadingElementDuration = 1000
        }))
        {
            <input type="text" name="sourceName1" />
            <input type="submit" value="Поиск" />
        }*@
        <div class="col-12">
            @using (Ajax.BeginForm("Population", "HowDidYouAboutUs", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "" }))
            {
                <input class="form-control text-box single-line d-inline" type="text" name="sourceName" value="" />
                <input class="btn btn-info btn-fill pull-left d-inline" type="submit" name="name" value="Найти" />
            }
            @using (Ajax.BeginForm("Population", new AjaxOptions
            {
                UpdateTargetId = "results",
                LoadingElementId = "loading",
                LoadingElementDuration = 1000
            }))
            {
                <input class="btn btn-info btn-fill pull-left d-inline" type="submit" name="name" value="Очистить" />
            }
        </div>

            <div id="loading" style="display:none; color:Red; font-weight:bold;">
                <p>Идет загрузка...</p>
            </div>
            <div id="results">
                @Html.Action("Population")
            </div>
        </div>
    </div>
