@model WebAppIMaster.Models.NewManagerModels.DocumentDetail
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подтверждение документа</h2>

<div class="card strpied-tabled-with-hover">
    <div class="card-header ">
        <h4 class="card-title">Подтверждение документов</h4>
        <p class="card-category">Документы</p>
    </div>
    <div class="card-body table-full-width table-responsive">
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content(Model.DocUrl)" style="height:150px;" />
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        Имия: @Model.UserName
                    </li>
                    <li>
                        Тип исполнителя: <b>Business</b>
                    </li>
                    <li>
                        Спецализация: @Model.SpecialityName
                    </li>
                    <li>
                        Возрост: @Model.BirthDay
                    </li>
                    <li>
                        Пол: @Model.Gender
                    </li>
                    <li>
                        Город: @Model.City
                    </li>
                    <li>
                        Номер телефона: @Model.PhoneNumber
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    <li>Рейтинг: @Model.Rating</li>
                    <li>Статус: @Model.DocumentState</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <img src="@Url.Content(Model.DocUrl)" style="height:200px;" />
        </div>
    </div>
</div>