@model WebAppIMaster.Models.NewManagerModels.PopulationCategoryMdl
@using WebAppIMaster.Resources
@{
    ViewBag.Title = "CreatePCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("CreatePCategory","PopulationQuestion", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Добавить П категорию</h4>
            </div>
            <div class="card-body ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group pb-2">
                    <div class="col-md-2">
                        @Resource.Name_kz
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name_kz, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name_kz, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group pb-2">
                    <div class="col-md-2">
                        @Resource.Name_ru
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name_ru, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name_ru, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group pb-2">
                    <div class="col-md-2">
                        @Resource.Priority
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Property, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Property, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group ml-5">
                    <div class="d-inline">
                        <a href="/PopulationQuestion/Index" class="btn btn-info btn-fill">Назад</a>
                    </div>
                    <div class="d-inline m-3">
                        <input id="btnSubmit" type="submit" value="@Resource.Create" class="btn btn-info btn-fill" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
