@model WebAppIMaster.Models.NewManagerModels.PopulationDetailsVmMdl
@using WebAppIMaster.Resources;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card strpied-tabled-with-hover">
    <div class="card-header ">
        <h4 class="card-title">Часто задоваямые вопросы</h4>
        <p class="card-category">Страница часто задоваямых вопросов</p>
    </div>
    <div class="card-body table-full-width table-responsive">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName(Resource.Name_ru)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Описание")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
    <div class="form-group ml-5">
        <div class="d-inline">
            <a href="/PopulationQuestion/Index" class="btn btn-info btn-fill">Назад</a>
        </div>
        <div class="d-inline m-3">
            <a href="/PopulationQuestion/ReQuestion?Id=@Model.Id" class="btn btn-info btn-fill">@Resource.Edit</a>
        </div>
    </div>

    @*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
        @Html.ActionLink("Back to List", "Index")
    </p>*@
</div>